.paper-btn{
    border: 1px solid #cc6600;
    border-radius: 5px;
    font-size: 50px;
    padding: 20px;
    color: white;
    background-color:   #cc6600;
    cursor: pointer;
    margin-left: 5px;
    padding-left: 45px;
    padding-right: 45px;
    font-family: 'Roboto Mono', monospace;
}
.paper-btn:hover{
    background-color: #cc6600;
    transition-duration: 1000ms;
    font-size: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
.mePaper{
    text-align: center;
    border: 1px solid #4d2600;
    border-radius: 100%;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 150px;
    display: none;
    background-color: #cc6600;
}
.paperLogo{
    color: #4d2600;
    transform: rotate(0.12turn);
}