.bars{
  display:flex ;
  margin-bottom: 10px;
}
.ticketBar{
  position: absolute;
  right: 8px;
}
.scoreBar{
  text-align: start;
  position: absolute;
  left: 8px;
}
.game-buttons{
  text-align: center;

}
body{
  background-color: #ff9933;
  font-family: 'Roboto Mono', monospace;
}
.fight-section{
  text-align: center;
  margin-top: 50px;
}
.vs{
  font-size: 100px;
  margin: 15px;
  color: white;
}

